{{!< default}}
<div class="background">
	<div>
		<span class="header-text">Ready to share your magic?</span>
	</div>
	<div>
		<a class="action-button-home" href="/signin">Sign In</a>
		<a class="action-button-home" href="/signup">Sign Up</a>
	</div>
	<p class="deadline-date"><strong>Submission Deadline:</strong> 1st June 2019 at 9:00am</p>
	<p class="note"><strong>Note:</strong> You must create a new account for each project you submit.</p>
</div>
