{{!< default}}
<div class="background">
	<div>
		<span id="header-text">Ready to share your magic?</span>
	</div>
	<div>
		<button id="signin-button" onclick="window.location.href = '/signin'">Sign In</button>
	</div>
</div>