{{!< default}}
<div class="page page-center">
	<img src="/images/hand-logo.png" alt="logo" class="logo">
	<div class="header-text">Ready to share your magic?</div>
	<div>
		<a class="button large-button" href="/signin">Sign In</a>
		<a class="button large-button button-margin" href="/signup">Sign Up</a>
	</div>
	<p class="deadline-date"><strong>Submission Deadline:</strong> 20th June 2020</p>
</div>
