{{!< default}}

<div class="page page-center">
	<div>
		<h1 class="header-text">This is awkward... Something went wrong, please try again or contact us.</h1>

		<div class="buttons-container">
			<a href="/dashboard" class="button large-button">Back to Submissions</a>
			<a href="mailto:hello@imshowcase.co.uk" class="button large-button button-margin">Contact Us</a>
		</div>
	</div>
</div>
