{{!< default}}

<div class="page page-center">
	<div>
		<h1 class="header-text">Submission Successful!</h1>

		<div class="buttons-container">
			<a href="/dashboard" class="button large-button">Back to Submissions</a>
		</div>
	</div>
</div>
