.background {
    height: 100vh;
    width: 100vw;
    background-image: url("../../images/background.jpg");
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-text {
    margin: 5px;
    padding: 10px;
    color: white;
    text-shadow: 5px 5px #131e22;
    font-size: 100px;
}

#signin-button {
    font-size: 30px;
    color: #131e22;
    padding: 5px 20px;
    background: white;
    border-radius: 5px;
}