@import url('https://fonts.googleapis.com/css?family=Tomorrow:400,600');

.background {
	font-family: 'Tomorrow', sans-serif;
    height: 100vh;
	width: 100%;
    background-image: url("../../images/background.jpg");
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 50%;
	max-width: 250px;
}

.header-text {
    margin: 5px 20px 5px;
    padding: 10px;
    color: white;
	font-size: 40px;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.action-button-home {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: #fff;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	width: 228px;
	height: 57px;
	background: rgb(104, 59, 143);
}

.action-button-home:hover {
	color: white;
	text-decoration: none;
	background: rgb(97, 55, 134);
}

.deadline-date {
	color: white;
	text-align: center;
	font-size: 15px;
	padding-top: 20px;
}
