@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

.submission-page {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(45deg, rgba(16, 32, 102, 0.8), rgba(77, 168, 221, 0.8));
}

.form-container {
    width: 790px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 3vh;
}

//TAB VIEW STYLING
.tab-radio,
#who-content,
#what-content,
#details-content,
#tech-content,
#code-content {
    display: none;
}

#who:checked ~ #who-content,
#what:checked ~ #what-content,
#details:checked ~ #details-content,
#tech:checked ~ #tech-content,
#code:checked ~ #code-content {
    display: block;
}

//BACK AND NEXT BUTTON STYLING
.nav-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-button,
.next-button {
    color: grey;
    background: #ddd;
    margin: 20px 0 0 0;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background: #ccc;
    }
}

.back-button i {
    padding-right: 2px;
}

.next-button i {
    padding-left: 2px;
}