.submission-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(45deg, rgba(16, 32, 102, 0.8), rgba(77, 168, 221, 0.8));
}

.form-container {
    width: 790px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 5vh;
}